body {
    background-color: whitesmoke;
    margin: 0px;
    padding: 0px;
}

header {
    background-color: white;
    overflow: hidden;
    left: 0;
    height: 74px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.10);
    font-family: "Garamond", serif;
}

header ul {
    margin: 0;
    padding: 0;
    text-align: center;
    list-style-type: none;
}

.navbar > li.nav-item a {
    padding: 28px 15px;
    display: inline;
    width: 8vw;
}

.navbar > li.nav-item button, input {
    margin: 8px 0;
    padding: 20px 15px;
    display: inline;
    width: auto;
}

.navbar > li.nav-item button{
    width: 8vw;
    background-color: #CAF0F8;
    border-width: 1px;
}

.navbar li > a {
    float: left;
}

.navbar li > a {
    display: block;
    text-decoration: none;
    color: black;
}

.navbar li > a:hover {
    background-color: #CAF0F8;
}

li.active a {
    background-color: #CAF0F8;
    border-right: 1px black solid;
    border-left: 1px black solid;
}

.navbar-right {
    float: right;
}

.navbar {
    position: relative;
}

.nav-logo-item img {
    position: absolute;
    display: block;
    margin-left: calc((100% - 75px) / 2);
}

table#overview-table tr, td, th {
    width: 10vw;
}

table#overview-table{
    border: black solid 1px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

table#overview-table tr:nth-child(even) {
    background-color: #CAF0F8;
}

main {
    margin: 0;
    padding: 0;
}

main h1{
    text-align: center;
}