body {
    background-color: whitesmoke;
    margin: 0px;
    padding: 0px;
}

button:hover {
    cursor: pointer;
}

header {
    background-color: white;
    overflow: hidden;
    left: 0;
    height: 74px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.10);
    font-family: "Garamond", serif;
}

header ul {
    margin: 0;
    padding: 0;
    text-align: center;
    list-style-type: none;
}

.navbar > li.nav-item a {
    padding: 28px 15px;
    display: inline;
    width: 8vw;
}

.navbar > li.nav-item button, input {
    margin: 8px 0;
    padding: 20px 15px;
    display: inline;
    width: auto;
}

.navbar > li.nav-item button{
    width: 8vw;
    background-color: #CAF0F8;
    border-width: 1px;
}

.navbar li > a {
    float: left;
}

.navbar li > a {
    display: block;
    text-decoration: none;
    color: black;
}

.navbar li > a:hover {
    background-color: #CAF0F8;
}

li.active a {
    background-color: #CAF0F8;
    border-right: 1px black solid;
    border-left: 1px black solid;
}

.navbar-right {
    float: right;
}

.navbar {
    position: relative;
}

.nav-logo-item img {
    position: absolute;
    display: block;
    margin-left: calc((100% - 75px) / 2);
}

table#overview-table tr, td, th {
    padding: 0;
    margin: 0;
    width: 10vw;
}

table#overview-table td {
    border-top: black solid 1px;
}

table#overview-table{
    border: black solid 1px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

table#overview-table td:nth-child(odd) {
    background-color: #CAF0F8;
}

table#overview-table .edit-stock {
    width: auto;
}

table#overview-table .edit-stock button {
    border: 0;
}

main {
    margin: 0;
    padding: 0;
}

main h1{
    text-align: center;
}

.loginForm {
    text-align: center;
    margin: auto;
    width: fit-content;
    border: black 1px solid;
    padding: 20px;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.8);
}

.container {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
    margin: auto;
}
.div2 {
    grid-area: 1 / 2 / 2 / 3;
}
.div3 {
    grid-area: 2 / 1 / 3 / 2;
    margin: auto;
}
.div4 {
    grid-area: 2 / 2 / 3 / 3;
}
.div5 {
    grid-area: 3 / 1 / 4 / 3;
}

.product-stock {
    text-align: center;
}

.edit-icon {
    width: 2vw;
}
